#portfolio {
  background: var(--bg-secondary);
  background: var(--primary);
  border-top-left-radius: var(--radius-5);
  overflow: visible;
}

#portfolio .portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#portfolio .portfolio .image__container {
  width: 120px;
  height: 120px;
  border-radius: var(--radius-3);
  overflow: hidden;
}

#portfolio .portfolio .details {
  flex: 1;
  padding: 10px;
}

#portfolio .portfolio .title {
  font-size: 14px;
  font-weight: 600;
}

#portfolio .portfolio .description {
  font-size: var(--font-size-small);
}

#portfolio .portfolio .date__category {
  align-items: center;
  font-size: 13px;
  margin-top: 10px;
}

#portfolio .portfolio .date__category .date {
  background: linear-gradient(to bottom right, #6a11cb, var(--primary));
  padding: 0 5px;
  font-size: 10px;
  border-radius: var(--radius-3);
  color: var(--color-white);
  text-align: center;
}

@media (max-width: 1220px) {
  #portfolio .portfolio {
    flex-direction: column;
  }

  #portfolio .portfolio .image__container {
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 930px) {
  #portfolio {
    border-top-left-radius: 70%;
    overflow: visible;
  }
}

@media (max-width: 500px) {
  #portfolio .portfolio__container {
    grid-template-columns: 100%;
  }
}
