.logo__container {
  gap: 5px;
}

.logo__container .logo {
  width: 50px;
  height: 50px;
}

.logo__container img {
  object-fit: contain;
}

.logo__container h2 {
  font-size: 20px;
  font-weight: 600;
}
