.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  height: 0;
  width: 100%;
  background: var(--bg-secondary);
  transition: var(--transition);
  overflow: hidden;
}
.sidebar.visible {
  height: 100%;
}
.sidebar .sidebar__wrapper {
  padding: 1rem;
}
.sidebar .top {
  justify-content: space-between;
}
.sidebar .navitems {
  display: block;
  padding: 10px 0px;
  font-size: var(--font-size-small);
  cursor: pointer;
  transition: var(--transition);
  font-weight: 600;
}

.sidebar .navitems:hover {
  color: var(--primary);
}
